<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings>
        <add name="PostgresConnection"
             connectionString="Host=localhost;Port=5432;Database=boutique;Username=postgres;Password=admin;Pooling=true;Maximum Pool Size=50;"
             providerName="Npgsql" />
    </connectionStrings>

</configuration>
